##########################################################################
# MARY TTS configuration file ar.config
##########################################################################

name = ar
ar.version = 4.3.0

locale = ar

###########################################################################
############################## The Modules  ###############################
###########################################################################
modules.classes.list = \
       marytts.language.ar.JPhonemiser  \
       marytts.modules.MinimalisticPosTagger(ar,ar.) \         


####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
ar.allophoneset = jar:/marytts/language/ar/lexicon/allophones.ar.xml
ar.lexicon = jar:/marytts/language/ar/lexicon/ar_lexicon.fst
ar.lettertosound = jar:/marytts/language/ar/lexicon/ar.lts
#ar.userdict = MARY_BASE/user-dictionaries/userdict-ar.txt

# Minimalistic POS tagger settings
ar.partsofspeech.fst = jar:/marytts/language/ar/tagger/ar_pos.fst
ar.partsofspeech.punctuation = ,.?!;

# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(ar)
